.wrapper {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .chain-container:empty {
    display: none;
  }

  .chain-container {
    margin: 20px;
    border: 1px solid #fff;
    background-color: #0e153f;

    .chain-row {
      display: flex;
      .chain-column {
        border: 1px solid #fff;
        min-width: 70px;
        min-height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        .atom-img-animate {
          width: 50px;
          height: 50px;
          animation: mymove 5s infinite;
        }
        @keyframes mymove {
          50% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}
