@import "./variables.scss";
@import "./features/chain-grid/chain-grid.scss";
@import "./features/alert-modal/alert-modal.scss";

body {
  background-image: url(./assets/images/bg.png);
  background-color: #280101;
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  .copyrights {
    color: white;
    font-family: monospace;
    font-size: 25px;
    max-width: 100px;
  }
}
