.wrapper {
    .chain-container {
        height: auto;
        margin: 0 auto;
        .chain-row {
            display: flex;
            .chain-column {
                height: 50px;
                width: 50px;
                border: 1px solid orange;
            }
        }
    }
}